<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
    <div class='header'>
        <h1>Welcome, {{ user.first_name }}!</h1>
        <a href="/books" ><button class='log_form'>Home</button></a>
        <form action='/logout' method='post'>
            {% csrf_token %}
        <button type='submit' class='log_form'>Log Out</button>
        </form>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class='book'>
        <form action='/books/{{book.id}}/update' method='post'>
            {% csrf_token %}
            <h3>Title<input name='title' type='text' value='{{ book.title }}'></h1>
            <h3>Added by: {{ user.first_name }} {{ user.last_name }}</h3>
            <h3>Added on: {{ book.created_at }}</h3>
            <h3>Last updated on: {{ book.updated_at }}</h3>
            <h3>Description  <textarea name='desc' value='desc'>{{ book.desc }}</textarea></h3>
            <button class='book_form' type='submit' name='update'>Update</button>
            <button class='book_form' type='delete' name='delete'>Delete</button>
        </form>
    </div>
    <div class='liked'>
        <h3>Users who like this book:</h3>
        <ul>
        {% for users in users %}
            <li>
                <p>{{ users.first_name }} {{ users.last_name }}
                {% if user == users %}
                <a href='/book/{{book.id}}/fav' class='unfav'>Un-Favorite</a>
                {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>